


<div class="container text-center">
  <h1>Contador</h1>

  <div class="btn-group mb-3">
    <button type="button" class="btn btn-outline-secondary"><%= @counter.digit_1 %></button>
    <button type="button" class="btn btn-outline-secondary"><%= @counter.digit_2 %></button>
    <button type="button" class="btn btn-outline-secondary"><%= @counter.digit_3 %></button>
    <button type="button" class="btn btn-outline-secondary"><%= @counter.digit_4 %></button>
    <button type="button" class="btn btn-outline-secondary"><%= @counter.digit_5 %></button>
  </div>
  <%= button_to 'Incrementar', increment_counter_path(@counter), class:"btn btn-danger mb-3"  %>
  <%= button_to 'Reiniciar contador', reset_counter_path(@counter), class:"btn btn-danger"  %>
</div>
